nav {
    background:#23180d;
    padding: 20px 0;
}

.container {
    display: flex;
    width: 1400px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

li {
    display: inline-block;
}
a {
    color: white;
    font-weight: 500;
    font-size: 20px;
    margin: 0 30px;
    text-decoration: none;
}